@font-face {
    font-family: 'BigNoodle';
    src: local('BigNoodle'), url(../fonts/big_noodle_titling.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'MontserratBold';
    src: local('MontserratBold'), url(../fonts/Montserrat-Bold.otf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'MontserratMedium';
    src: local('MontserratMedium'), url(../fonts/Montserrat-Medium.otf) format('truetype');
    font-display: swap;
}